html, body{  background-color:white;
  color: black;
  background-blend-mode: darken;
  font-family: cursive, times new roman, times;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


/* for styling basilica*/
.name{
  background-color: #dce1e2;
}

.name img{ width: 75px; 
        height: 75px;
        margin-top: -15px;
}

.name1 h1{
  color:  #031537; 
  position: absolute;
  left:70px; 
  top: 13px;

}


.name1{
  font-size: 10px;
  height: 50px;

}

.topnav{ 
   overflow: hidden;
   background-color:  #031537;
   border-radius: 4px;
   padding:5px;
 }
 
.topnav a {
   float:left;
   color: #f2f2f2;
   text-align: center;
   padding: 10px 12px 12px 12px  ;
   font-size: 15px;
   text-decoration: none;
 }

.topnav a.active{
   background-color: #08317d;
   color: ;
   border-radius: 4px;
 }

 .topnav a:hover{
   background-color:#ddd ;
   color: black;
   border-radius: 10px;
   align-self: center;
    transition: all 50ms linear;
 }



div {background-color: ;
  color: black;
  padding:0px 5px 5px;
}
 

 /*tO Add grid*/

.grid-container{
  display: grid;
  grid-column-gap: 10px;
  grid-gap: 10px;
  grid-template-columns: auto auto auto ;
  padding: 50px;
  border-radius: 3px;
}

.grid-item{
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 2px 6px 2px rgba(0,0,0,1);
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.grid_image{
  height: 150px;
  border-radius: 5px;
}
 

 figure{
  width: 100%;
  height: 100%;
 }

 div.pseudo:: before{
  content: " ";
  height: 300px;
  width: 350px;

 }

footer{ 
   position: static;
   bottom:0;
   left: 0;
   width:100%;
   text-align: center;
   background-color: #031537;
   border-radius: 4px;
   
 }
 
 

 .footer{
  display: grid;
  grid-template-columns: auto;
}
 
a{ 
   text-decoration: none;
 }
 
 hr {
  width: 50%
 }
 
 .copyright {
   background-color: #031537;
   border-radius: 4px;
   color: white;
   
 }
 
 /*Used to style the table containing skills*/
 td{
   padding: 4px 10px 5px 35px ;
   height: 10px;
 }



p{
  text-align: left;
}


/* 
............................................................
Mobile View Design starts here
*/

/* use to change background color on small screens and also to make the grid to be a single column*/
@media only screen and (max-width: 300px){
  .grid-container{display: grid;
  grid-column-gap: 10px;
  grid-gap: 10px;
  grid-template-columns: auto;
  padding: 50px;
  border-radius: 3px;}

  /*div {background-color: black;
  color: white;
  padding:0px 5px 5px;
}*/
  }
